.advantages {
  padding: 36px 20px 72px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 251px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 124px;
  }
}

.advantages__small-title {
  @include fonts(14px, 16px);
  color: $base_primary;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.advantages__title {
  @include fonts(26px, 36px);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    @include fonts(45px, 62px);
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 101px;
  }
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
  }
}

.advantages__heading {
  @include fonts(19px, 32px);
  font-weight: 700;
  margin-top: 99px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    @include fonts(27px, 40px);
    margin-top: 54px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__text {
  @include fonts(16px, 20px);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 24px);
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__item {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 82px;
    width: 330px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0px;
    width: 311px;
  }
}

.advantages__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 52px;
  height: 56px;
  top: -65px;
  right: 114px;

  @media (min-width: $tablet-width) {
    top: 59px;
    right: 268px;
  }

  @media (min-width: $desktop-width) {
    top: -19px;
    right: 127px;
  }
}

.advantages__item:first-child::before {
  background-image: url('../../img/icons/watch.svg');
}

.advantages__item:nth-child(2)::before {
  background-image: url('../../img/icons/pocket.svg');
}

.advantages__item:nth-child(3)::before {
  background-image: url('../../img/icons/lightning.svg');
}

.advantages__item:nth-child(4)::before {
  background-image: url('../../img/icons/leaf.svg');
}
