.catalog {
  padding: 53px 20px 44px;
  background-color: $lightest_grey;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 112px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 102px;
    padding-bottom: 130px;
    display: grid;
    grid-template-columns: 350px 1fr;
  }
}

.catalog__txt {
  @include fonts(14px, 16px);
  color: $base_primary;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.catalog__title {
  @include fonts(26px, 36px);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include fonts(46px, 61px);
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.form__title {
  @include fonts(17px, 24px);
  font-weight: 600;
  margin-bottom: 22px;
}

.range-filter {
  width: 280px;

//   @media (min-width: $tablet-width) {
//     width: 220px;
//   }
  }

.range-controls {
  height: 26px;
  margin-bottom: 25px;
  padding-top: 13px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  width: 280px;
  background: $light_grey;

  @media (min-width: $tablet-width) {
    width: 227px;
  }
}


.range-controls .bar {
  width: 240px;
  height: 2px;
  background: $primary_lighter;
  box-shadow: 0 1px 0 0 $primary_lighter, 0 -1px 0 0 $primary_lighter;

  @media (min-width: $tablet-width) {
    width: 184px;
  }
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid $primary_lighter;
  background-color: $base_white;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 236px;

  @media (min-width: $tablet-width) {
    left: 182px;
  }
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    width: 229px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: $base_grey;
    top: 16px;
    right: 135px;

    @media (min-width: $tablet-width) {
      right: 108px;
    }
  }
}

.price-controls__input {
  @include fonts(16px, 24px);
  font-weight: 500;
  width: 118px;
  padding: 5px 10px;
  text-align: center;
  border: 2px solid $primary_lighter;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 99px;
  }
}

.minprice {
  color: $base_grey;
}

.milk-list {
  @include list-reset;
  padding-left: 34px;
}

.milk-list__item {
  @include fonts(18px, 24px);
  margin-bottom: 21px;
}

.milk-list__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.milk-list__radio+label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $base_grey;
}

.milk-list__radio:checked+label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;
  width: 16px;
  height: 16px;
  background-color: $base_primary;
  border-radius: 50%;
}

.country-list {
  @include list-reset;
  padding-left: 52px;
}

.country-list__item {
  @include fonts(18px, 24px);
  margin-bottom: 21px;
}

.country-list__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.country-list__input+label::before {
  content: "";
  position: absolute;
  left: -52px;
  top: 0;
  width: 42px;
  height: 25px;
  border-radius: 12px;
  background-color: $base_grey;
}

.country-list__input+label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -50px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $base_white;
}

.country-list__input:checked+label::before {
  background-color: $base_primary;
}

.country-list__input:checked+label::after {
  left: -32px;
}

.buttons-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-left: 170px;
    width: 340px;
    justify-content: space-between;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.butoon__filter {
  @include fonts(15px, 24px);
  width: 160px;
}

.butoon__filter-submit {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.sort {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    text-align: end;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.products__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.products__item {
  background-color: $base_white;
  padding: 40px 20px 20px;
  margin-bottom: 16px;
  color: $base_black;

  @media (min-width: $tablet-width) {
    width: 350px;
    padding-top: 51px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 27px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }
}

.products__img {
  margin: 0 auto 24px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.products__title {
  @include fonts(20px, 32px);
  color: $base_black;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    @include fonts(26px, 44px);
  }
}

.products__description {
  @include fonts(16px, 20px);
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.products__price {
  @include fonts(20px, 32px);
  font-weight: 600;
  margin-right: 50px;

  @media (min-width: $tablet-width) {
    margin-right: 99px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 64px;
  }
}

.products__button {
  padding-left: 46px;
  width: 141px;
  position: relative;
}

.products__button::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url('../../img/icons/busket-for-button.svg');
  width: 20px;
  height: 16px;
  top: 10px;
  left: 21px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.pagination__item {
  margin-right: 20px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__item {
  @include fonts(16px, 24px);
  display: block;
  padding: 8px 13px;
  color: $base_primary;
  background-color: $base_white;
  border-radius: 4px;
}

.pagination__item--current,
.pagination__item--current:hover,
.pagination__item--current:focus,
.pagination__item--current:active {
  font-weight: 600;
  color: $base_black;
  background-color: transparent;
}

.pagination__item--prev,
.pagination__item--next {
  padding: 8px 16px;
  position: relative;
}

.pagination__item--prev::before,
.pagination__item--next::before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 10px;
  top: 15px;
  right: 14px;
}

.pagination__item--prev::before {
  background-image: url('../../img/icons/arrow-prev-small.svg');
  background-repeat: no-repeat;
  right: 7px;
}

.pagination__item--next::before {
  background-image: url('../../img/icons/arrow-next-small.svg');
}
