.slider {
  padding: 20px 20px 40px;
  background-color: $flat_white;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 640px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 115px;
    padding-left: 40px;
    padding-bottom: 60px;
    min-height: 714px;
  }
}

.slider__list {
  @include list-reset;
}

.slider__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    align-items: end;
  }
}

.slider__image-wrp {

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 294px;
    left: 126px;
  }

  @media (min-width: $desktop-width) {
    top: -29px;
    left: 65px;
  }
}

.slider__img {
  margin: 0 auto 5px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.new {
  display: block;
  @include fonts(14px, 16px);
  color: $base_primary;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4px;
}

.slider__heading {
  @include fonts(40px, 48px);
  text-align: center;
  color: $base_black;
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    @include fonts(63px, 89px);
  }
}

.slider__text {
  @include fonts(15px, 20px);
  margin-top: 0;
  margin-bottom: 20px;
  width: 270px;
  text-align: center;
  color: $base_black;

  @media (min-width: $tablet-width) {
    @include fonts(22px, 32px);
    width: 640px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.slider__price-wrp {
  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.slider__old-price {
  @include fonts(17px, 32px);
  text-decoration: line-through;
  color: $base_primary;
  margin-left: 25px;
  margin-right: 6px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.slider__new-price {
  @include fonts(20px, 32px);
  font-weight: 600;
  margin-right: 20px;
}

.slider__toggles {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.button-slide {
  border: none;
}

.slider__button-next,
.slider__button-prev {
  position: absolute;
  min-height: 636px;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 63px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 80px;
    top: 79px;
    min-height: 639px;
  }

  @media (min-width: $desktop-width) {
    min-height: 715px;
  }

  &::before {
    content: "";
    position: absolute;

    @include arrow(12px, 12px);
    top: 50%;

    @media (min-width: $tablet-width) {
      top: 38%;
    }
  }

  &:hover,
  &:focus {
    background: linear-gradient(90deg, $base_white 0, rgba($base_white, $alpha: 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba($base_primary, $alpha: 0.25), rgba($base_primary, $alpha: 0) 100%);
  }

  &:disabled {
    &::before {
      border-color: $base_grey;
    }
  }
}

.slider__button-next {
  right: 0;

  &::before {
    transform: rotate(45deg);
    right: 7px;

    @media (min-width: $tablet-width) {
      right: 37px;
    }
  }
}

.slider__button-prev {
  left: 0;

  &::before {
    transform: rotate(-135deg);
    left: 7px;

    @media (min-width: $tablet-width) {
      left: 37px;
    }
  }
}

.hidden {
  display: none;
}
